In [1]:
import pandas as pd
import os

C:\Users\Ag\AppData\Local\Temp\ipykernel_18692\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv("data/electrodatos_processed.csv")

In [3]:
os.mkdir("data/cups")

cups = df['CUPS'].unique()
for cup in cups:
    df_cup = df[df['CUPS'] == cup]
    df_cup.to_csv(f"data/cups/{cup}.csv", index=False)

        CUPS       fecha  hora  consumo met_obtencion             datetime
0          0  2021-08-03     1    0.100          Real  2021-08-03 01:00:00
1          0  2021-08-03     2    0.073          Real  2021-08-03 02:00:00
2          0  2021-08-03     3    0.083          Real  2021-08-03 03:00:00
3          0  2021-08-03     4    0.073          Real  2021-08-03 04:00:00
4          0  2021-08-03     5    0.073          Real  2021-08-03 05:00:00
...      ...         ...   ...      ...           ...                  ...
145937    10  2023-08-07    20    0.105          Real  2023-08-07 20:00:00
145938    10  2023-08-07    21    0.104          Real  2023-08-07 21:00:00
145939    10  2023-08-07    22    1.122          Real  2023-08-07 22:00:00
145940    10  2023-08-07    23    0.196          Real  2023-08-07 23:00:00
145941    10  2023-08-07    24    0.422          Real  2023-08-08 00:00:00

[145942 rows x 6 columns]