In [1]:
import pandas as pd

C:\Users\Ag\AppData\Local\Temp\ipykernel_22236\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [4]:
df = pd.read_csv("data/electrodatos.csv")

## Duplicados y nulos

In [5]:
print("Duplicate rows:")
print(df.duplicated().sum())
print("Df shape: ", df.shape)

print("Deleting duplicate rows:")
df = df.drop_duplicates()

print("Duplicate rows:")
print(df.duplicated().sum())
print("Df shape: ", df.shape)

Duplicate rows:
1
Df shape:  (145943, 6)
Deleting duplicate rows:
Duplicate rows:
0
Df shape:  (145942, 6)

In [6]:
print("Null values:")
print(df.isnull().sum())

Null values:
Código universal de punto de suministro    0
Fecha                                      0
Hora                                       0
Consumo                                    0
Método de obtención                        0
datetime                                   0
dtype: int64

In [7]:
df['Fecha'] = df['Fecha'].apply(lambda x: pd.Timestamp(x))
df['datetime'] = pd.to_datetime(df['datetime'])

In [11]:
# 	Código universal de punto de suministro to CUPS
df.rename(
    columns={
        'Código universal de punto de suministro': 'CUPS',
        'Fecha': 'fecha',
        'Hora': 'hora',
        'Consumo': 'consumo',
        'Método de obtención': 'met_obtencion'
        }, inplace=True)

In [12]:
df

        CUPS      fecha  hora  consumo met_obtencion            datetime
0          0 2021-08-03     1    0.100          Real 2021-08-03 01:00:00
1          0 2021-08-03     2    0.073          Real 2021-08-03 02:00:00
2          0 2021-08-03     3    0.083          Real 2021-08-03 03:00:00
3          0 2021-08-03     4    0.073          Real 2021-08-03 04:00:00
4          0 2021-08-03     5    0.073          Real 2021-08-03 05:00:00
...      ...        ...   ...      ...           ...                 ...
145938    10 2023-08-07    20    0.105          Real 2023-08-07 20:00:00
145939    10 2023-08-07    21    0.104          Real 2023-08-07 21:00:00
145940    10 2023-08-07    22    1.122          Real 2023-08-07 22:00:00
145941    10 2023-08-07    23    0.196          Real 2023-08-07 23:00:00
145942    10 2023-08-07    24    0.422          Real 2023-08-08 00:00:00

[145942 rows x 6 columns]

# Función para carga de datos

In [14]:
def process_data(df):
    df = df.drop_duplicates()

    df['Fecha'] = df['Fecha'].apply(lambda x: pd.Timestamp(x))
    df['datetime'] = pd.to_datetime(df['datetime'])

    df.rename(
        columns={
            'Código universal de punto de suministro': 'CUPS',
            'Fecha': 'fecha',
            'Hora': 'hora',
            'Consumo': 'consumo',
            'Método de obtención': 'met_obtencion'
        }, inplace=True)

    return df

In [17]:
df = pd.read_csv("data/electrodatos.csv")
df = process_data(df)
df.to_csv("data/electrodatos_processed.csv", index=False)
df

C:\Users\Ag\AppData\Local\Temp\ipykernel_22236\503771067.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Fecha'] = df['Fecha'].apply(lambda x: pd.Timestamp(x))
C:\Users\Ag\AppData\Local\Temp\ipykernel_22236\503771067.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['datetime'] = pd.to_datetime(df['datetime'])
C:\Users\Ag\AppData\Local\Temp\ipykernel_22236\503771067.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(

        CUPS      fecha  hora  consumo met_obtencion            datetime
0          0 2021-08-03     1    0.100          Real 2021-08-03 01:00:00
1          0 2021-08-03     2    0.073          Real 2021-08-03 02:00:00
2          0 2021-08-03     3    0.083          Real 2021-08-03 03:00:00
3          0 2021-08-03     4    0.073          Real 2021-08-03 04:00:00
4          0 2021-08-03     5    0.073          Real 2021-08-03 05:00:00
...      ...        ...   ...      ...           ...                 ...
145938    10 2023-08-07    20    0.105          Real 2023-08-07 20:00:00
145939    10 2023-08-07    21    0.104          Real 2023-08-07 21:00:00
145940    10 2023-08-07    22    1.122          Real 2023-08-07 22:00:00
145941    10 2023-08-07    23    0.196          Real 2023-08-07 23:00:00
145942    10 2023-08-07    24    0.422          Real 2023-08-08 00:00:00

[145942 rows x 6 columns]